[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca/
[submodule "littlelambocoin-blockchain-gui"]
	path = littlelambocoin-blockchain-gui
	url = https://github.com/dominick01234/littlelambocoin-blockchain-gui
