Package: littlelambocoin-blockchain-cli
Version: {{ LITTLELAMBOCOIN_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Littlelambocoin Network Inc <hello@littlelambocoinnetwork.org>
Description: Littlelambocoin Blockchain
 Littlelambocoin is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
